/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color--primary--blue;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color--primary--blue--dark;
  }


*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
    outline: none;
}

html {
    font-family: $font--primary;
    font-size: 62.5%;

    box-sizing: border-box;
}

body {
    position: relative;
}

.error-key {
    font-size: 1rem;
    color: #dfe6e9;
    text-align: center;

}