<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gen</title>
</head>
<body>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=&libraries=geometry&v=weekly"
  defer
></script>

     <!-- JAVASCRIPT ENTITIES -->
  <script type="text/javascript" src="/js/List.js" defer></script>
  <!-- <script type="text/javascript" src="/js/LatLng.js" defer></script> -->
  <script type="text/javascript" src="/js/Rect.js" defer></script>
  <script type="text/javascript" src="/js/PolyHandler.js" defer></script>
  <script type="text/javascript" src="/js/CityMap.js" defer></script>

  <script type="text/javascript" src="/js/mapStyle.js" defer></script>
  <script type="text/javascript" src="/js/mapster.js" defer></script>

  <script type="text/javascript" src="/js/casa.js" defer></script>
  <script type="text/javascript" src="/js/main.dash.js" defer></script>

</body>
</html>