<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGeoCode</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><symbol id="idea" viewBox="0 0 464 464"><title>idea</title><circle style="fill:#00F2A9;" cx="232" cy="264" r="96"/><g> <path style="fill:#322153;" d="M232,48c4.424,0,8-3.584,8-8V8c0-4.416-3.576-8-8-8s-8,3.584-8,8v32C224,44.416,227.576,48,232,48z"/> <path style="fill:#322153;" d="M8,240h32c4.424,0,8-3.584,8-8s-3.576-8-8-8H8c-4.424,0-8,3.584-8,8C0,236.416,3.576,240,8,240z"/> <path style="fill:#322153;" d="M424,240h32c4.424,0,8-3.584,8-8s-3.576-8-8-8h-32c-4.424,0-8,3.584-8,8 C416,236.416,419.576,240,424,240z"/> <path style="fill:#322153;" d="M90.576,101.888c1.56,1.56,3.608,2.344,5.656,2.344s4.096-0.784,5.656-2.344 c3.128-3.128,3.128-8.184,0-11.312L79.264,67.952c-3.128-3.128-8.184-3.128-11.312,0s-3.128,8.184,0,11.312L90.576,101.888z"/> <path style="fill:#322153;" d="M390.392,398.392c2.048,0,4.096-0.784,5.656-2.344c3.128-3.128,3.128-8.184,0-11.312l-22.624-22.624 c-3.128-3.128-8.184-3.128-11.312,0s-3.128,8.184,0,11.312l22.624,22.624C386.296,397.608,388.344,398.392,390.392,398.392z"/> <path style="fill:#322153;" d="M103.504,362.112c-3.128-3.128-8.184-3.128-11.312,0l-22.624,22.624 c-3.128,3.128-3.128,8.184,0,11.312c1.56,1.56,3.608,2.344,5.656,2.344s4.096-0.784,5.656-2.344l22.624-22.624 C106.624,370.296,106.624,365.232,103.504,362.112z"/> <path style="fill:#322153;" d="M369.376,104.232c2.048,0,4.096-0.784,5.656-2.344l22.624-22.624c3.128-3.128,3.128-8.184,0-11.312 s-8.184-3.128-11.312,0L363.72,90.576c-3.128,3.128-3.128,8.184,0,11.312C365.28,103.456,367.328,104.232,369.376,104.232z"/> <path style="fill:#322153;" d="M200,432h64c4.424,0,8-3.576,8-8s-3.576-8-8-8h-64c-4.424,0-8,3.576-8,8S195.576,432,200,432z"/> <path style="fill:#322153;" d="M200,464h64c4.424,0,8-3.576,8-8s-3.576-8-8-8h-64c-4.424,0-8,3.576-8,8S195.576,464,200,464z"/> <path style="fill:#322153;" d="M192,361.976V392c0,4.368,3.504,7.928,7.872,8c21.904,0.344,36.616,0.536,46.6,0.536 c20.264,0,21.088-0.808,23.128-2.816c1.528-1.504,2.4-3.576,2.4-5.72v-30.024c55.528-17.12,96-68.904,96-129.976 c0-74.992-61.008-136-136-136S96,157.008,96,232C96,293.072,136.472,344.856,192,361.976z M256,384.408 c-9.92,0.152-29.136-0.032-48-0.288v-18.368c7.808,1.392,15.8,2.248,24,2.248c8.2,0,16.192-0.856,24-2.248V384.408z M240,267.312 l29.656-29.656c3.128-3.128,3.128-8.184,0-11.312s-8.184-3.128-11.312,0L240,244.688V200c0-4.416-3.576-8-8-8s-8,3.584-8,8v44.688 l-18.344-18.344c-3.128-3.128-8.184-3.128-11.312,0s-3.128,8.184,0,11.312L224,267.312v52.28c-44.784-4.056-80-41.768-80-87.592 c0-48.52,39.48-88,88-88s88,39.48,88,88c0,45.824-35.216,83.536-80,87.592V267.312z M232,112c66.168,0,120,53.832,120,120 c0,63.472-49.56,115.448-112,119.592v-16c53.608-4.112,96-48.952,96-103.592c0-57.344-46.656-104-104-104s-104,46.656-104,104 c0,54.64,42.392,99.48,96,103.592v16c-62.44-4.144-112-56.12-112-119.592C112,165.832,165.832,112,232,112z"/> </g></symbol><symbol id="street-lamp" viewBox="0 0 512 512"><title>street-lamp</title><path d="m303.134 47.133c0-25.989-21.145-47.133-47.134-47.133s-47.134 21.144-47.134 47.133c0 20.745 13.479 38.391 32.134 44.672v35.662c0 8.284 6.716 15 15 15s15-6.716 15-15v-35.662c18.655-6.281 32.134-23.926 32.134-44.672z" fill="#005aaa"/><path d="m172.827 404.238c-6.883 0-12.883-4.684-14.552-11.362l-45.36-181.438c-1.405-5.618.533-11.652 5.24-15.402 2.726-2.172 6.174-3.236 9.66-3.236h256.371c3.486 0 6.934 1.064 9.66 3.236 4.707 3.75 6.645 9.785 5.24 15.402l-45.36 181.438c-1.669 6.678-7.669 11.362-14.552 11.362z" fill="#ff4864"/><path d="m400.6 222.8h-289.2c-6.067 0-11.536-3.655-13.858-9.26-2.321-5.605-1.038-12.057 3.252-16.347l80.333-80.333c2.813-2.813 6.628-4.394 10.606-4.394h128.533c3.979 0 7.794 1.581 10.606 4.394l80.333 80.333c4.29 4.29 5.573 10.742 3.252 16.347s-7.79 9.26-13.857 9.26z" fill="#003764"/><path d="m288.134 512h-64.268c-8.284 0-15-6.716-15-15v-96.4c0-8.284 6.716-15 15-15h64.268c8.284 0 15 6.716 15 15v96.4c0 8.284-6.716 15-15 15z" fill="#003764"/><path d="m416.667 222.8h-321.334c-8.284 0-15-6.716-15-15s6.716-15 15-15h321.334c8.284 0 15 6.716 15 15s-6.716 15-15 15z" fill="#005aaa"/><path d="m368.467 415.6h-224.934c-8.284 0-15-6.716-15-15s6.716-15 15-15h224.934c8.284 0 15 6.716 15 15s-6.716 15-15 15z" fill="#005aaa"/><path d="m58.461 286.297-48.2-16.066c-7.859-2.62-12.106-11.115-9.487-18.974 2.62-7.858 11.116-12.106 18.974-9.487l48.2 16.067c7.859 2.62 12.106 11.115 9.487 18.974-2.508 7.52-10.798 12.214-18.974 9.486z" fill="#ff4864"/><path d="m.774 389.276c-2.619-7.859 1.628-16.354 9.487-18.974l48.2-16.066c7.858-2.619 16.354 1.627 18.974 9.487 2.619 7.859-1.628 16.354-9.487 18.974l-48.2 16.066c-7.514 2.505-16.244-1.297-18.974-9.487z" fill="#ff4864"/><path d="m434.565 276.811c-2.619-7.859 1.628-16.354 9.487-18.974l48.2-16.067c7.857-2.621 16.353 1.628 18.974 9.487 2.619 7.859-1.628 16.354-9.487 18.974l-48.2 16.066c-8.222 2.743-16.477-1.998-18.974-9.486z" fill="#f00032"/><path d="m492.253 398.764-48.2-16.066c-7.859-2.62-12.106-11.115-9.487-18.974 2.62-7.86 11.115-12.106 18.974-9.487l48.2 16.066c7.859 2.62 12.106 11.115 9.487 18.974-2.484 7.447-10.728 12.236-18.974 9.487z" fill="#f00032"/><path d="m271 127.467v-35.662c18.655-6.281 32.134-23.926 32.134-44.672 0-25.989-21.145-47.133-47.134-47.133v142.467c8.284 0 15-6.716 15-15z" fill="#003764"/><path d="m353.725 392.876 45.36-181.438c1.405-5.618-.533-11.652-5.24-15.402-2.726-2.172-6.174-3.236-9.66-3.236h-128.185v211.438h83.173c6.883 0 12.883-4.684 14.552-11.362z" fill="#f00032"/><path d="m414.458 213.54c2.321-5.605 1.038-12.057-3.252-16.347l-80.333-80.333c-2.813-2.813-6.628-4.394-10.606-4.394h-64.267v110.334h144.6c6.067 0 11.536-3.655 13.858-9.26z" fill="#00141e"/><path d="m303.134 497v-96.4c0-8.284-6.716-15-15-15h-32.134v126.4h32.134c8.284 0 15-6.716 15-15z" fill="#00141e"/><g fill="#003764"><path d="m431.667 207.8c0-8.284-6.716-15-15-15h-160.667v30h160.667c8.284 0 15-6.716 15-15z"/><path d="m383.467 400.6c0-8.284-6.716-15-15-15h-112.467v30h112.467c8.284 0 15-6.716 15-15z"/></g></symbol></svg>
</head>
<body class="container">
    <div class="container__left">
        <div class="container__logo">
            <h3 class="container__website">MGeo<span class="u-blue-light">Code</span></h3>
        </div>

        <div class="container__options">
            <div class="container__options-item user-selector">
                <svg>
                    <use xlink:href="/img/icons.svg#face"></use>
                </svg>
            </div>
            <div class="container__options-item key-selector">
                <svg>
                    <use xlink:href="/img/icons.svg#unlock"></use>
                </svg>
            </div>
            <div class="container__options-item"></div>
            <div class="container__options-item" onclick='window.location.href="/logout";'>
                <svg>
                    <use xlink:href="/img/icons.svg#logout"></use>
                </svg>
            </div>

            <div class="container__options__content user__opts" >
                <form action="" autocomplete="off">
                    <h2>USER INFORMATION</h2>
                    <div class="form__contain">
                        <input autocomplete="new-password" id="phone" name="phone" type="text" class="form__control" placeholder="phone">
                        <label for="">Phone</label>
                    </div>
                    <div class="form__contain">
                        <input autocomplete="new-password" id="lEmail" name="email" type="email" class="form__control" placeholder="Email">
                        <label for="">Email</label>
                    </div>
                    <div class="form__contain">
                        <input autocomplete="new-password" id="lPassword" type="password" name="password" class="form__control" placeholder="password">
                        <label for="">Password</label>
                    </div>
                    <input type="submit" class="form__control" value="update">
                    <div class="sucerr"></div>
                </form>
            </div>


            <div class="container__options__content key__opts">
                <form action="" autocomplete="off">
                    <h2>GENERATE API KEY</h2>
                    <input type="submit" class="form__control" value="generate a new key">
                    <p class='error-key'></p>
                </form>
                <div class="key__opts-key">
                    <% if(user.apikeys.length > 0){ for(var i=0;i< user.apikeys.length;i++){%>

                        <div class="key"><%=user.apikeys[i].key%></div>

                        <% }} %>
                </div>
            </div>
        </div>
    
    </div>

    <!-- //Main Content -->
    <div class="container__right">
        <div class="container__content">
            <div class="map"></div>
            <div class="options">
                <div class="options__header">
                    <div class="options__item u-text-center">
                                    <div>#ID</div>
                                    <div>CITY</div>
                                    <div>STATUS</div>
                                    <div>GENERATED GRIDS</div>
                                    <div>BORDERS</div>
                                    <div>SHOW GRID</div>
                                    <div>CONFIG</div>
                    </div>
                </div>
                <div class="options__content">
                </div>
        </div>
        </div>
    </div>

    <div class="generator">
        <div class="generator__bg"></div>
        <div class="generator__content">
            <img src="https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            <div class="img"></div>
            <h2 id="cityName">Casablanca</h2>
            <form action="" class="generator__form">
                <label for="selector">Select grid size : </label>
                <select name="selector" id="selector">
                    <option value="S">small</option>
                    <option value="M">Medium</option>
                    <option value="L">large</option>
                </select>
                <button type="submit">GENERATE GRID</button>
            </form>
        </div>
    </div>

    <div class="search">
        <form action="">
            <input type="text" placeholder="Search a lat & lng : lat, lng" class="search__box">
            <button class="search__btn">FIND</button>
        </form>
        <div class="search__define"></div>
        <div class="search__extra__define"></div>
    </div>


    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy70FRKC2tsqEXr-y15_ubkVVjE8q-EV0&libraries=geometry&v=weekly"
    defer
  ></script>
  <!-- <script
  src="https://maps.googleapis.com/maps/api/js?key=&libraries=geometry&v=weekly"
  defer
></script> -->
  <!-- JAVASCRIPT ENTITIES -->
  <script type="text/javascript" src="/js/List.js" defer></script>
  <!-- <script type="text/javascript" src="/js/LatLng.js" defer></script> -->
  <script type="text/javascript" src="/js/Rect.js" defer></script>
  <script type="text/javascript" src="/js/PolyHandler.js" defer></script>
  <script type="text/javascript" src="/js/CityMap.js" defer></script>

  <script type="text/javascript" src="/js/mapStyle.js" defer></script>
  <script type="text/javascript" src="/js/mapster.js" defer></script>

  <script type="text/javascript" src="/js/casa.js" defer></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script type="text/javascript" src="/js/MainController.js" defer></script>
  <script type="text/javascript" src="/js/main.js" defer></script>

</body>
</html>