<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geocode APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
    <div class="container__left">
        <div class="container__logo">
            <h3 class="container__website">MGeo<span class="u-blue-light">Code</span></h3>
        </div>
        <ul class="menu">
            <li class="menu__list"><button class="menu__btn">Select a city</button></li>
            <li class="menu__list"><button class="menu__btn">Configure your your account</button></li>
            <li class="menu__list"><button class="menu__btn">Integrate API</button></li>
            <li class="menu__list"><button class="menu__btn">account settings</button></li>
            <li class="menu__list"><button class="menu__btn">Generate your API key</button></li>
            <li class="menu__list"><button class="menu__btn">logout</button></li>
        </ul>
    </div>

    <!-- //Main Content -->
    <div class="container__right">
        <div class="container__content">
            <div class="map"></div>
        </div>
    </div>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpU9eD0WcmUBRg2COfc10JQaTBmAW8VZ0&libraries=geometry&v=weekly"
    defer
  ></script>

  <!-- JAVASCRIPT ENTITIES -->
  <script type="text/javascript" src="/js/List.js" defer></script>
  <script type="text/javascript" src="/js/LatLng.js" defer></script>
  <script type="text/javascript" src="/js/Rect.js" defer></script>
  <script type="text/javascript" src="/js/PolyHandler.js" defer></script>
  <script type="text/javascript" src="/js/CityMap.js" defer></script>


  <script type="text/javascript" src="/js/firebase.js" defer></script>

  <script type="text/javascript" src="/js/mapStyle.js" defer></script>
  <script type="text/javascript" src="/js/mapster.js" defer></script>

  <script type="text/javascript" src="/js/casa.js" defer></script>

  <script type="text/javascript" src="/js/main.js" defer></script>

</body>
</html>