.container {
        width : 100vw;
        height: 100vh;

        display: grid;
        grid-template-columns: 5rem minmax(40rem,1fr);
        position: relative;

        overflow: hidden;


//LEFT SIDE
    &__left {
        height: 100vh;
        grid-column: 1/2;

        width: 100%;

        z-index: 999;
        //  background-image: linear-gradient(to bottom right, rgba($color--primary--blue, .8), rgba($color--primary--blue--dark, .8)), url('../img/bg.jpeg');
        //  background-image: linear-gradient(to bottom right, rgba(darken($color--primary--blue, 30), 1), rgba(darken($color--primary--blue--dark, 30), 1));
        background-color: #242830;

        background-size: cover;
        background-position: center;

        // padding: 5rem;
        display: grid;
        grid-template-rows: minmax(15rem, 10vh) max-content 1fr;
    
        // transition: $default--animation;

        box-shadow: 0 0 5rem rgba($color--black, .1);
    }

    &__logo {
        display: none;
    }
    &__website {
        color: $color--white;
        font-size: 1.6rem;

        font-weight: 300;
        line-height: 1.6;
    }
    &__text {
        color: $color--white;
        justify-self: center;

        // margin-top: 10rem;
    }
    &__heading {
        font-size: 3.6rem;
    }
    &__p {
        padding-top: 3rem;
        font-size: 1.6rem;
        font-weight: 200;
    }





    //The Main Content Of The Page
    &__content {
        width: 100%;
        height: 100%;

        overflow: hidden;
    }
}

.map {
    height: 70vh;
    width: 100%;
}
