.landing {
    &__container {
        width : 100vw;
        height: 100vh;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;

        overflow: hidden;
    }


//LEFT SIDE
    &__left {
        height: 100vh;
        width: 100vw;
        position: absolute;
        // grid-column: 1/2;

        z-index: 999;

         background-image: linear-gradient(to bottom right, rgba($color--primary--blue, .8), rgba($color--primary--blue--dark, .8)), url('../img/bg.jpeg');
        background-color: $color--primary--blue;

        background-size: cover;
        background-position: center;

        padding: 5rem;
        display: grid;
        grid-template-rows: minmax(15rem, 10vh) max-content 1fr;
    
        transition: $default--animation;
    }

    &__logo {}
    &__website {
        color: $color--white;
        font-size: 1.6rem;

        font-weight: 300;
        line-height: 1.6;
    }
    &__text {
        color: $color--white;
        justify-self: center;

        // margin-top: 10rem;
    }
    &__heading {
        font-size: 3.6rem;
    }
    &__p {
        padding-top: 3rem;
        font-size: 1.6rem;
        font-weight: 200;
    }
    &__label {

        display: block;

        justify-self: center;
        align-self: flex-start;

        margin-top: 7rem;
        cursor: pointer;
    }
    &__show-more {

        padding: 2rem 10rem;

        background-color: $color--teal--light;
        border: none;
        outline: none;

        color: $color--white;

        // cursor: pointer;

        font-family: $font--primary;
        font-weight: 400;
    }



//RIGHT SIDE
    &__right {
        @extend %right-side;
        position: relative;
        transition: $default--animation;
        position: relative;
        &--push {
            &::after {
                content: "";
                width: 100%;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;
                
                background-color: rgba($color--black, .8);

                animation: $default--animation--value slideRight .5s;
            }
        }
    }
    &__tertiary {
        font-size: 3rem;
        font-weight: 400;
        color: darken($color--primary--black, 10);
    }
    &__pr {
        font-size: 1.6rem;
        font-weight: 300;
        color: darken($color--primary--black, 10);
        padding-bottom: 5rem;
    }
    &__button {
        width: 35rem;
        height: 8rem;

        background-color: $color--white;
        border: none;
        border-radius: $default-radius;

        outline: none;

        font-family: $font--primary;
        cursor: pointer;
        position: relative;

        svg {
            display: inline-block;
            float: left;
            width: 5rem;
            height: 5rem;
            // padding-left: 3rem;

            fill: $color--primary--blue;

            padding: 1rem;

            margin-left: 3rem;
            margin-right: 3rem;
            border-radius: $default-radius;
            border: 1px solid $color--primary--blue ;
        }
        p {
          display: block;
          text-align: left;
          padding-top: .7rem;

          text-transform: uppercase;

          color: darken($color--primary--black, 10);

        }
        span {
            display: block;
            text-align: left;
            padding-top: .5rem;
            color: lighten($color--primary--black, 5);
        }
        &:hover {
            border: 1px solid $color--primary--blue ;
            background-color: lighten($color--primary--blue, 45);

            &::after {
                content: "→";
                position: absolute;
                top: 50%;
                right: 2rem;

                color: $color--primary--blue;
                font-size: 2rem;

                transform: translateY(-50%);
            }
        }
    }

    &__register, &__login {
        @extend %right-side;
        justify-content: center;

        position: absolute;

        display: none;
        transition: $default--animation;

        right: 0;
        &--show {
            display: block;
            animation: $default--animation--value slideRight .5s;
        }
    }
}

.checkbox-hack {
    display: none;
}
.checkbox-hack:checked ~ .landing__left {
    width: 100%;
    position: relative;
    grid-column: 1/2;

    background-image: linear-gradient(to bottom right, rgba($color--primary--blue, 1), rgba($color--primary--blue--dark, 1));
    z-index: -1;
}
.checkbox-hack:checked ~ .landing__right {
    // display: grid;
}
.checkbox-hack:checked ~ .landing__left > .landing__label {
    display: none;
}
