.search {
    
    position: absolute;
    top: 2rem;
    right: 3rem;

    width: 43rem;
    height: 3.5rem;

    display: none;
  
    animation: scaleUp cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;

    form {
        display: grid;

        grid-template-columns: 80% 20%;


        align-items: center;

        width: 100%;
        height: 100%;
    }
    &__box {
        padding-right: 22%;
        padding-left: 3rem;
        grid-column: 1/-1;
        grid-row: 1/span 1;
        height: 100%;

        font-family: $font--primary;
    }
    &__btn {

        grid-column: 2/-1;
        grid-row: 1/span 1;

        height: 100%;
        padding: .5rem;
        cursor: pointer;
        background-color: $color--primary--blue;
        color: white;

        font-family: $font--primary;

        border: none;
    }
    &__define {
        // height: 20rem;
        height: 0rem;
        width: 100%;

        background-color: #242830;
        transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;
        
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        h2 {
            color: white;
            font-size: 2.5rem;
        }
        &--show {
            height: 10rem;
        }
    }
    &__extra__define {
        width: 100%;
        height: 0;

        background-color: white;
        transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;
        &--show {
            height: 20rem;
        }
    }
}